/* -------------------- LAYOUT -------------------- */

main {
    padding: 2rem;
}

.center {
    text-align: center;
}

section {
    margin-bottom: 2rem;
}

.rowitem {
    background-color: rgb(237, 237, 237);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
}

.cardtextarea {
    background-color: rgb(237, 237, 237);
    margin-bottom: 1rem;
    padding: 0.75rem;
}

footer {
    padding-bottom: 2rem;
}

/* -------------------- FONTS -------------------- */

h1 {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

a {
    color: dodgerblue;
    white-space: nowrap;
}

.font-position {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.font-companyname {
    font-size: 1.25rem;
}

.font-bigname {
    font-size: 3rem;
}

.font-cursive {
    font-family: "Kaushan Script", "Comic Sans MS", "Comic Sans", cursive;
}


/* -------------------- RESPONSIVE SIDEBAR -------------------- */

nav {
    padding: 1rem;
}